{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew tap homebrew/cask-versions
brew tap homebrew/cask-fonts
brew tap dart-lang/dart

brew bundle --no-lock --file=/dev/stdin <<EOF
# Brew
brew "asdf"
brew "bash"
brew "binutils"
brew "coreutils"
brew "dart"
brew "diffutils"
brew "direnv"
brew "ffmpeg"
brew "fish"
brew "flake"
brew "fzf"
brew "gh"
brew "git"
brew "gnupg"
brew "go"
brew "gopass"
brew "java"
brew "k3d"
brew "less"
brew "make"
brew "mas"
brew "nano"
brew "neovim"
brew "openssh"
brew "pinentry-mac"
brew "python@3.9"
brew "rsync"
brew "starship"
brew "wget"
brew "yarn"

# Casks
cask "alacritty"
cask "android-studio"
cask "discord"
cask "docker"
cask "firefox-developer-edition"
cask "font-fira-code"
cask "font-firacode-nerd-font-mono"
cask "font-firacode-nerd-font"
cask "font-firamono-nerd-font-mono"
cask "font-firamono-nerd-font"
cask "font-source-code-pro"
cask "gpg-suite-no-mail"
cask "insomnia"
cask "plex-media-player"
cask "visual-studio-code"

# Mas
mas "Xcode", id: 497799835
EOF
{{ end -}}
