{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew tap homebrew/cask-versions
brew tap homebrew/cask-fonts

brew bundle --no-lock --file=/dev/stdin <<EOF
# Brew
brew "asdf"
brew "direnv"
brew "fish"
brew "git"
brew "gnupg"
brew "go"
brew "gopass"
brew "java"
brew "mas"
brew "neovim"
brew "pinentry-mac"
brew "starship"

# Casks
cask "android-studio"
cask "alacritty"
cask "discord"
cask "firefox-developer-edition"
cask "font-fira-code"
cask "gpg-suite-no-mail"
cask "visual-studio-code"

# Mas
mas "Xcode", id: 497799835
EOF
{{ end -}}
